*{
    margin: 0;
    padding: 0
}
.wrapper{
    background: #ffffff
}
.header{
    padding: 55px 0px
}
.menu{
    float: right
}
.menu li{
    display: inline-block
}
.menu ul li a{
    font-size: 21px;
    font-weight: 600;
    color: #00bfff;
    text-decoration: none;
    padding: 0px 20px;
    font-family: 'Raleway', sans-serif;
}
.menu ul li a:hover{
    color: #008fb3
}
.coming {
    text-align: center;
    padding-top: 140px;
}
.coming h2{
    color: #00bfff;
    font-size: 55px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}
.coming p{
    color: #666666;
    font-size: 27px;
    padding-top: 120px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.countdown .back-text h4{
    color: #00bfff;
    background: #e6f9ff;
}
#countdown{
    margin-top: 50px
}
.email{
    text-align: center;
    padding-top: 120px
}
.email p {
    color: #666666;
  font-family: "Raleway",sans-serif;
  font-size: 21px;
  margin: 20px 0 50px;
  font-weight: 600;
}
.email input[type="email"] {
        background: #ffffff;
        text-transform: none;
        border: 1px solid #d6eefc;
        color: #333333;
    width: 390px;
    padding: 15px;
    font-size: 20px
}
.email input[type="submit"] {
    background: #00bfff none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 22px;
  margin-left: -4px;
  padding: 15px;
  width: 115px;
}
.email input[placeholder] {
    color: #9fcfe8;
  font-size: 22px;
  font-weight: 400;
  text-transform: lowercase;
}
.social-icon{
    margin-top: 160px;
}
.icon {
    width: 165px;
    margin: 0px auto;
}
.icon i{
        color: #00bfff;
    padding: 10px;
    font-size: 20px
}
.countDays{
    position: relative;
}
.countDays::after{
    position: absolute;
    content: 'days';
    color: #6b7c85;
    top: 0px;
    left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.countHours{
    position: relative;
}
.countHours::after{
    position: absolute;
    content: 'hours';
    color: #6b7c85;
    top: 0px;
    left: 2px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.countMinutes{
    position: relative;
}
.countMinutes::after{
    position: absolute;
    content: 'minutes';
    color: #6b7c85;
    top: 0px;
    left: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.countSeconds{
    position: relative;
}
.countSeconds::after{
    position: absolute;
    content: 'seconds';
    color: #6b7c85;
    top: 0px;
    left: -10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}